*{
    margin: 0px;
    padding: 0px;
}
ul li{
    list-style-type: none;
}
body{
    font-family:"Microsoft YaHei";
}
.top img{
    width: 100%;
}
.computer{
    width: 100%;
    overflow: hidden;

    background: #71c2ff;
    margin-top:-10px ;


}
.zhi{
    float: left;
    margin-left: 93px;
    position: relative;
    z-index:100;
}
.rigths{
    width:372px;
    height:402px;
    float: left;
    margin-top: 14px;
    margin-left: -42px;

}
.top_input{
    width: 372px;
    height: 180px;
    background: #83c8ff;
    position: absolute;

}
.top_input .img1{
    position: relative;
    right: 90px;
    z-index: 200;
}
.tet{
    width: 200px;
    height: 37px;
    margin-top: 7px;
    margin-left: 15px;

}
.span_tet{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family:"Microsoft YaHei";
    margin-left: 25px;

}
.btn{
 margin-top: 5px;
    float: right;
}
.btn img{
    width: 120px;
    height: 45px;
    margin-top: 0px;
}


.top_gund{
    width: 372px;
    height: 322px;
    margin-top: 55px;
    background:#83c8ff;
    text-align: center;
    overflow: hidden;

}
.top_gund img{
    width: 372px;

}
.mar{
    font-size: 16px;
}
.mar ul li{
    margin-top: 10px;

}
.bot_img img{
    width: 100%;
}
.mulitline{
    height: 178px;
    overflow: hidden;
    width: 280px;
    margin: 0 auto;

    margin-top: 141px;

}
.mulitline  li{
   line-height:26px;
    overflow: hidden;

}
.sub{
    position: relative;
    width: 134px;
    height: 52px;
    z-index: 100;
    top: 18px;
    opacity:0;
    left: 3px;
}
.sub:hover{
    cursor:pointer;
}
.btn_img{
    position: relative;
    left: 220px;
    bottom: 47px;
}
.xin{
    width: 372px;
    position: relative;
    z-index: 300;
    top:200px;
}
